/* ============================================
   ЭЛЕМЕНТ: welcome-section__image
   ============================================ */

.welcome-section__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--radius-2xl);
}

