/* ============================================
   ЭЛЕМЕНТ: welcome-section__img
   ============================================ */

.welcome-section__img {
    max-width: 100%;
    height: auto;
    border-radius: var(--radius-xl);
    box-shadow: var(--shadow-lg);
}

