/* ============================================
   ЭЛЕМЕНТ: article-card__content
   ============================================ */

.article-card__content {
    padding: var(--spacing-6);
}

