/* ============================================
   МОДИФИКАТОР: exercise-card__image-wrapper--has-image
   ============================================ */

.exercise-card__image-wrapper--has-image {
    background: none;
}
