/* ============================================
   МОДИФИКАТОР: test-card__image-wrapper--has-image
   ============================================ */

.test-card__image-wrapper--has-image {
    background: none;
}
