/* ============================================
   ЭЛЕМЕНТ: test-card__content
   ============================================ */

.test-card__content {
    padding: var(--spacing-4) var(--spacing-6);
}
