/* ============================================
   ЭЛЕМЕНТ: privacy__container
   ============================================ */

.privacy__container {
    max-width: 800px;
    margin: 0 auto;
}

