/* ============================================
   МОДИФИКАТОР: hero__circle--2
   ============================================ */

.hero__circle--2 {
    width: 150px;
    height: 150px;
    background-color: var(--color-secondary);
    bottom: -50px;
    right: 100px;
}

