.section-title__text {
    color: var(--color-text-secondary);
    font-size: var(--font-size-md);
    margin: 0;
    max-width: var(--container-md);
    margin-left: auto;
    margin-right: auto;
}
