/* ============================================
   ЭЛЕМЕНТ: exercise-modal__timer
   ============================================ */

.exercise-modal__timer {
    margin-bottom: var(--spacing-6);
}
